@model SurfersLand.ViewModels.BoardFormVm
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Board</h2>

@using (Html.BeginForm("Save", "Boards"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(b => b.Name)
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BoardTypeId)
        @Html.DropDownListFor(m => m.BoardTypeId, new SelectList(Model.BoardTypes, "Id", "Name"), "Select Board Style", new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.BoardTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.NumberInStock)
        @Html.TextBoxFor(m => m.NumberInStock, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.NumberInStock)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}